streamlit
fastapi
uvicorn
requests

sympy
numpy
pillow

sentence-transformers
transformers

chromadb

paddleocr

openai-whisper

python-multipart
tqdm
scikit-learn
huggingface-hub
